body, html {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	background-color: aliceblue;
	color: #0a0a0a;
}

#popUpWindow {
/* Hidden by default */
	display: none;
    position: fixed; /* Stay in place */
    z-index: 111; /* Sit on top */
    left:0;
    top:0;
    width: 	100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto;
	background-color: rgba(0, 0, 0, 0.6);	
	text-align: center;
	justify-content: center;
}

#popUpWindow_inner {
/* Hidden by default */
	font-family: 'Hind', sans-serif;
	padding-top: 1%;
    position: fixed; /* Stay in place */
    z-index: 111; /* Sit on top */
    left: 12%;
    top: 15%;
    width: 75%; /* Full width */
    height: auto; /* Full height */
    overflow: auto;
	background-color: black;
	color: white;
	border: 5px dashed yellow;
	transform: rotate(-8deg);
	border-radius: 5px;
}

#popUpWindow_inner h2 {
	font-size: 1em;
	margin-bottom: 0;
}

#popUpWindow_inner p {
	margin: 0;
	font-size: 0.8em;
}

#popUpButton {
	width: auto;
	height: auto;
	background-color: white;
	color: red;
	font-weight: bold;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	
}

.header-navbar {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	position: fixed;
	background-color: #bcd2e5;   
}

.navbar {
	width: 100%;
	background-color: #bcd2e5;
	position: absolute;
	transform: translate(0, -320px);
	transition: transform 1s ease;
	
	padding-top: 45px;
	opacity: 0.6;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	box-shadow: 0px 12px 21px 6px rgba(188, 210, 229, 1);
}

.navbar.open {
	transform: translate(0, 0);
}

.navbar-list {
	list-style: none;
	text-align: center;
	list-style-position: inside;
}

.navbar-list a {
	text-decoration: none;
	color: #0a0a0a;
	padding: 10px;
}

.nav-item {
	padding: 10px;
	line-height: 1.5em;
	font-size: 18px;
}

.nav-item a:hover {
	font-size: 24px;
	font-weight: bold;
}

.menu {
	font-size: 2em;
	color: #0a0a0a;
	padding: 3px 10px;
	cursor: pointer;
	display: block;
	margin: auto;
}

.main {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-top: 48px;
	max-width: 1200px;
	margin: 0 auto;
}

.greenwich-background {
	background-image: url(images/greenwich-small.png);
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 78vw;
    padding: 1.5%;
}

.main-name1 {
	width: 100%;
	line-height: 1.1em;
	font-size: 2em;
	font-weight: bold;
	color: #0a0a0a;
	padding-top: 7vw;
    
}

.main-name2 {
	width: 100%;
	line-height: 2em;
	font-size: 1.5em;
	font-weight: bold;
	color: #0a0a0a;
	padding-top: 4vw;
	display: none;
}

.general-div {
	width: 100%;
	border-bottom: 2px solid lightgrey;
}

.general-header {
	width: 100%;
}

.general-header-text {
	border-radius: 15px;
	width: 60%;
	margin: 23px auto;
	text-align: center;
	font-size: 1.7em;
	line-height: 2em;
	padding: 0 20px;
	background-color: #d7e8f7;
}

.general-text {
	width: 95%;
	margin: 0 auto;
	padding: 3px;
	font-size: 1em;
}

.general-text ul {
	list-style: disc;
	text-align: left;
	list-style-position: inside;
	line-height: 1.5em;
}


.general-div {
	width: 100%;
	background-color: aliceblue;
}

.about-me-text {
	font-size: 0.8em;
	text-align: center;
}

.katyaImg {
	width: 40%;
	display: block;
	margin: 5% auto;
	border-radius: 15px;
}

.googleImg {
	width: 80%;
	display: block;
	margin: 0 auto;
	border-radius: 15px;
}

.project-div {
	width: 85%;
	height: auto;
	display: block;
	margin: 0 auto;
}

.project-div {
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 15px;
	height: inherit;
}

.projectAnimal:hover {
	background-image: url(images/pufferFishCard.png);
}

.projectDali:hover {
	background-image: url(images/projectDali.png);
}

.projectKatya:hover {
	background-image: url(images/projectKatya.png);
}

.project-link {
	border: 1px solid aliceblue;
	text-align: center;
	margin: 5% auto;
	border-radius: 15px;
}

.project-div a {
	text-decoration: none;
	color: #0a0a0a;
}

.project-div:hover {
	background-color: #a9c9e5;
	border-radius: 15px;
}

.low {
	display: flex;
	flex-flow: row;
}

.media-img-link {
	padding: 10px;
}

.media-img {
	width: 30%;
	border-radius: 9%;
	max-width: 60px;
}

.contact-div {
	width: 70%;
}

.media-div {
	width: 30%;
}

.inner-media-div {
	width: 95%;
	margin: 30% auto;
	position: relative;
	top: 15%;
	left: -15%;
}

.inner-contact-div {
	width: 95%;
	margin: 2vw auto;
	font-size: 0.8em;
}

.inner-contact-div a {
	text-decoration: none;
	color: grey;
}


/** RESPONSIVE - min-400px **/

@media screen and (min-width: 415px) {
	.menu {
		font-size: 3em;
	}
	.main {
		padding-top: 69px;
	}
	.main-name1 {
		font-size: 3em;
	}
	.main-name2 {
		font-size: 2em;
	}
	.general-header-text {
		font-size: 2.3em;
	}
	.general-text {
		width: 9 0%;
		font-size: 1.4em;
	}
	.media-img-link {
		padding: 10px;
	}
	.media-img {
		width: 30%;
		border-radius: 9%;
		max-width: 60px;
	}
	.contact-div {
		width: 80%;
		font-size: 0.9em;
	}
	.media-div {
		width: 20%;
	}
	.inner-media-div {
		width: 95%;
		margin: 10% auto;
		position: relative;
		top: 20%;
	}
	.inner-contact-div {
		width: 99%;
		margin: 2vw auto;
	}

	#popUpWindow_inner {
		height: 20%; /* Full height */
	}
	
	#popUpWindow_inner h2 {
		font-size: 1.2em;
	}
	#popUpWindow_inner p {
		margin: 1em;
		font-size: 1em;
	}
    
/** RESPONSIVE min - 500px **/
    
@media screen and (min-width: 500px) {
	.menu {
		font-size: 2.5em;
	}
	.main {
		padding-top: 52px;
	}
	.main-name1 {
		font-size: 3.3em;
		padding-top: 9vw;
	}
	.main-name2 {
		font-size: 2.5em;
		padding-top: 9vw;
		line-height: 0.7em;
	}
	.general-header-text {
		font-size: 2.4em;
	}
	.general-text {
		width: 85%;
		font-size: 1.6em;
	}
	.media-img {
		width: 30%;
		border-radius: 9%;
		max-width: 60px;
	}
	.contact-div {
		width: 80%;
	}
	.media-div {
		width: 20%;
	}
	.inner-media-div {
		width: 95%;
		margin: 40% auto;
		position: relative;
		right: 1.5vw;
		top: 2.5vw;
	}
	.inner-contact-div {
		font-size: 1em;
	}
	
	
		#popUpWindow_inner h2 {
	font-size: 1.5em;
}
	
	#popUpWindow_inner {
		border-width: 20px;
	}
	
	#popUpButton {
		min-height: 30px;
		height: auto;
		min-width: 30%;
		width: auto;
		font-size: 1.4em;
	}
    
/** RESPONSIVE min - 600px **/    
    
    
@media screen and (min-width: 600px) {
	.main-name1 {
		padding-top: 15vw;
		line-height: 0.2em;
	}
	.main-name2 {
		line-height: 1em;
	}
	.general-text {
		font-size: 1.8em;
	}
	.katyaImg {
		width: 45%;
	}
	.googleImg {
		width: 85%;
	}
	

    
    
/** RESPONSIVE min - 720px **/    
    
@media screen and (min-width: 720px) {
	#content {
		width: 100%;
		display: grid;
		grid-template-columns: 60% 40%;
	}
	.navbar {
		transform: translate(0, 0);
		transition: none;
		box-shadow: none;
		padding-top: 0;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
		border-bottom: 2px solid grey;
	}
	.navbar-list {
		display: flex;
		flex-wrap: wrap;
		flex-flow: row;
		margin: 0 auto;
		width: 80%;
		align-content: center;
	}
	.navbar-list a {
		text-decoration: none;
		color: #0a0a0a;
	}
	.nav-item {
		padding: 10px;
		width: 20%;
	}
	
	.menu {
		display: none;
	}
    
	.main {
		border: none;
		padding-top: 47px;
	}
	.greenwich-background {
		background-image: url(images/greenwich-medium.png);
		height: 33vw;
	}
	.main-name1 {
		line-height: 1em;
		font-size: 2.2em;
		padding-top: 4vw;
	}
	.main-name2 {
		line-height: 1em;
		font-size: 2em;
		padding-top: 2vw;
	}
	.general-header-text {
		border-radius: 15px;
		width: 80%;
	}
	.general-text {
		font-size: 1.3em;
	}
	/** About me **/
	.general-div {
		width: 100%;
		background-color: aliceblue;
	}
	.katyaImg {
		width: 40%;
		display: block;
		margin: 5% auto;
		border-radius: 15px;
	}
	.googleImg {
		width: 80%;
		display: block;
		margin: 0 auto;
		border-radius: 15px;
	}

	.project-div {
		width: 85%;
		height: auto;
		display: block;
		margin: 0 auto;
	}
	.project-link {
		border: 1px solid aliceblue;
		text-align: center;
		margin: 5% auto;
		border-radius: 15px;
	}
	.project-div a {
		text-decoration: none;
		color: #0a0a0a;
	}
	.project-div:hover {
		background-color: #a9c9e5;
		border-radius: 15px;
	}
	.low {
		display: flex;
		flex-flow: row;
	}
	.media-img-link {
		padding: 10px;
	}
	.media-img {
		width: 30%;
		border-radius: 9%;
		max-width: 60px;
	}
	.contact-div {
		width: 70%;
	}
	.media-div {
		width: 30%;
	}
	.inner-media-div {
		width: 95%;
		margin: 10% auto;
	}
	.inner-contact-div {
		width: 95%;
		margin: 2vw auto;
	}
	.inner-contact-div a {
		text-decoration: none;
		color: grey;
	}
	
	#popUpWindow_inner {
		padding-top: 1%;
		font-size: 1.1em;
	}

    
/** RESPONSIVE min - 853px **/    
            
@media screen and (min-width: 853px) {
	#content {
		grid-template-columns: 4fr 2fr 3fr;
		grid-template-rows: repeat(2, auto)
	}
	.greenwich-background {
		max-height: 310px;
	}

	.main {
		max-width: 1100px;
		margin: 0 auto;
	}
	.projectImg {
		opacity: 0.5;
		width: 1000px;
	}
	#contacts {
		width: 100%;
		grid-column: 1/4;
	}
	.media-img {
		position: relative;
		top: -1.8em;
	}
	#aboutMeGrid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: repeat(5, auto);
	}
	.about-me-text {
		grid-column: 1/4;
		width: 100%;
		font-size: 1.1em;
	}
	.googleImg {
		grid-column: 1/3;
		grid-row: 3/5;
	}
	.katyaImg {
		grid-column: 3/4;
		grid-row: 2/6;
		width: 100%;
	}
	
	#popUpWindow_inner {
		height: 30%;
		font-size: 1.5em;
		
	}
	
	#popUpButton{
		width: auto;
		font-size: 1.5em;
	}
