body {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    margin:0;
    padding:0;
}

#mainDiv {

    background-color: lightgrey;
    width: 95%;
    margin: 0px auto;
    padding: 15px;
    box-shadow: 0px 0px 125px 16px rgba(0,0,0,0.27);
     border-radius: 1%;
}


#titleDiv {

width:95%;
    
}

#underline {
    
    text-decoration: underline;
    
}

h1 {

    font-size: 30px;
    color: #c94425;
}

#daliImg {
    width:60%;
    height:70%;
    min-width:300px;
    min-height:350px;
    box-shadow: -14px 15px 44px 6px rgba(0,0,0,0.75);
    border-radius: 1%;
}

#parametreDiv {
   width:95%;
   border: 1px solid grey;
   border-radius: 1%;
   background-color:#c6c6c6;
   box-shadow: 0px 0px 26px -6px rgba(0,0,0,0.75);
}

h2 {

    font-size:1.4em;
}



table,
tr,
td {
    border: 1px solid grey;
  
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 18px;
}

td {
    width: 18px;
    cursor: alias;
}

input[type=number] {
    width: 6em;
}

#canvasDiv {
    width:95%;
    height: 440px;
    background-color: aqua;
    text-decoration: underline;
    border-radius: 1%;
    background-color:#c6c6c6;
    box-shadow: 0px 0px 26px -6px rgba(0,0,0,0.75);
    
}

#parametreDiv {
    width: 95%;
}

#sizePicker {
    width: 100%;
}

#submit {
    width: 40%;
    box-shadow:none;
    cursor: pointer;
    
}

#moustacheSubmit {
    width:100%;
    height: auto;
}

#colorPicker {
    width:30%;
}


#kHorton a {
    text-decoration: none;
    color: black;
}

#kHorton a:hover {
    font-size: 1.5em;
    font-weight: bold;
}